.sec-color {
    background-color: $back-gray;
}

.sec-color-default {
  background-color: $primary-color;
}
  
.section-intro {
  padding: 120px 0 0 0;

  @media screen and (min-width: $small) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $large) {
    flex-direction: row;     
    justify-content: space-between;
  }

  @media screen and (min-width: $x-large) { 
    flex-direction: row;
    justify-content: space-between;
  }
}
////

//seccion del video

.title {
  display: flex;
  justify-content: center;
}

.col-heading {
  margin-top: 30px;
  width: 240px;
  display: inline-block;
}

.col-heading-draws {
  margin-top: 30px;
  text-align: center;
  width: 240px;
  display: inline-block;
}

.grve-custom-divider {
  display: flex;
  justify-content: center;
  background-color: $purple;
  height: 4px;
  @media screen and (min-width: $small) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $medium) {
    display: flex;
    flex-direction: center;
  }

  @media screen and (min-width: $large) {
    flex-direction: row;     
    justify-content: space-around;
  }

  @media screen and (min-width: $x-large) { 
    flex-direction: row;
    justify-content: space-around;
  }
}
/////////////////////////////////////////////////////
.section-video {
  padding: 120px 25px 0;
  @media screen and (min-width: $large) {
    display: flex;
    justify-content: space-between;
  }
}

.main_successStory_video {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  display: block;
  @media screen and (min-width: $large) {
    width: 340px;
    height: 260px;
  }
  @media screen and (min-width: $x-large) {
    width: 560px;
    height: 315px;
  }
}

//boton
.grve-element {
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: center;
}
//columnas de descripcion con imagenes
.col-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-bookmark, .col-description  {
  padding: 50px 25px 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $small) {
    flex-direction: column;
  }

  @media screen and (min-width: $medium) {
    flex-direction: center;
  }

  @media screen and (min-width: $large) {
    flex-direction: row;     
    justify-content: space-around;
  }

  @media screen and (min-width: $x-large) { 
    flex-direction: row;
    justify-content: space-around;
  }
}

.video-explained {
  padding: 80px 10px 0px;
  @media screen and (min-width: $medium) {
    padding: 80px 10px 0px;}
  @media screen and (min-width: $large) {
    padding: 30px 30px 60px;
  }
  @media screen and (min-width: $x-large) {
    padding: 30px 30px 60px;
  }
}
.quotes {
  background: url(../../img/quotes.png);
  background-position: 5px 160px;
  background-repeat: no-repeat;
  background-size: 20% 13%;

  @media screen and (min-width: $small) {
    background-position: 5px 110px;
    background-size: 15% 20%;
  }

  @media screen and (min-width: $medium) {
    background-size: 10% 20%;
    background-position: 5px 110px;
  }

  @media screen and (min-width: $large) {
    background-position: 25px 75px;
    background-size: 12% 20%;
  }

  @media screen and (min-width: $x-large) {
    background-position: 25px 65px;
    background-size: 7% 14%;
  }
}

.col-lg {
  text-align: center;
  margin-bottom: 20px;
}

.img-description {
  width: 255px;
}